# Entorno virtual
.venv/
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Base de datos local (no subir a GitHub)
db.sqlite3
instance/

# Configuración/env vars
.env
.env.*

# Archivos de logs
*.log

# Archivos temporales / cache
*.bak
*.swp
*.swo
*.tmp
*.DS_Store
Thumbs.db

# Carpeta de compilaciones / distribuciones
dist/
build/
*.egg-info/

# Archivos específicos de Windows
desktop.ini
